
body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

:root {
  --primary-text-color: #121212;
  --secondary-text-color: #f6f6f6;
  --primary-background-color: #d8d8d8;
  --secondary-background-color: #121212;
  --white-base: #ffffff;
  --restauran-menu-text: rgba(216, 215, 215, 0.5);
}

.section {
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1140px) {
  .section {
    padding-bottom: 100px;
  }
}
