<section class="restaurant-about-kitchen section">
    <h2 class="visually-hidden">About a kitchen</h2>
    <div class="container container-about-kitchen">
      <ul class="list list-about-kitchen-img">
        <li class="list-item-about-kitchen-img-1">
          <picture>
            <source
              srcset="
                /img/about-a-kitchen/chief-mobile-1x.jpg 1x,
                /img/about-a-kitchen/chief-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
              /img/about-a-kitchen/chief-tablet-1x.jpg 1x,
              /img/about-a-kitchen/chief-tablet-2x.jpg 2x
              "
              media="(max-width: 1439px)"
            />
            <source
              srcset="
              /img/about-a-kitchen/chief-desktop-1x.jpg 1x,
              /img/about-a-kitchen/chief-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img src="/img/about-a-kitchen/chief-desktop-1x.jpg" alt="chief" />
          </picture>
        </li>
        <li class="list-item-about-kitchen-img-2">
          <picture>
            <source
              srcset="
              /img/about-a-kitchen/meat-mobile-1x.jpg 1x,
              /img/about-a-kitchen/meat-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
              /img/about-a-kitchen/meat-tablet-1x.jpg 1x,
              /img/about-a-kitchen/meat-tablet-2x.jpg 2x
              "
              media="(max-width: 1439px)"
            />
            <source
              srcset="
              /img/about-a-kitchen/meat-desktop-1x.jpg 1x,
              /img/about-a-kitchen/meat-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img src="/img/about-a-kitchen/meat-desktop-1x.jpg" alt="meat" />
          </picture>
        </li>
        <li class="list-item-about-kitchen-img-3">
          <picture>
            <source
              srcset="
              /img/about-a-kitchen/cocktail-mobile-1x.jpg 1x,
              /img/about-a-kitchen/cocktail-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
              /img/about-a-kitchen/cocktail-tablet-1x.jpg 1x,
              /img/about-a-kitchen/cocktail-tablet-2x.jpg 2x
              "
              media="(max-width: 1439px)"
            />
            <source
              srcset="
              /img/about-a-kitchen/cocktail-desktop-1x.jpg 1x,
              /img/about-a-kitchen/cocktail-desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="/img/about-a-kitchen/cocktail-desktop-1x.jpg"
              alt="cocktail"
            />
          </picture>
        </li>
      </ul>
      <ul class="list list-about-kitchen-details">
        <li class="list-item-about-kitchen-details">
          <p class="text-about-kitchen-details">
            At Mimino, we are experts in<span class="ital"> meat preparation</span
            >. Our chefs use only the finest and freshest ingredients
            <span class="ital">to create delicious dishes </span>that showcase the
            flavors of premium cuts of meat.
          </p>
        </li>
        <li class="list-item-about-kitchen-details">
          <p class="text-about-kitchen-details">
            Our <span class="ital">slow-cooking process</span> and expert seasoning
            bring out the best in each dish, making for an unforgettable dining
            experience. Come taste the magic
            <span class="ital">of meat preparation at </span>Mimino.
          </p>
        </li>
      </ul>
    </div>
  </section>