<!-- Restaurant menu -->

<section class="price-menu section">
  <div class="restauran-container container">
    <h2 id="menu" class="title">RESTAURANT MENU</h2>
    <div class="price-block">
      <div class="menu-price">
        <div class="price-block-list">
          <h3 class="uppertitle">HOT MEALS</h3>
          <ul class="price-list-list">
            <li class="price-list item">
              <p class="price-service">
                Veal borscht with beans
                <span class="dish-size">400g</span>
              </p>
              <div class="about-dish">
                <p class="second-title">
                  Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                  tomatoes, greens, sour cream
                </p>
                <p class="price">240 UAH</p>
              </div>
            </li>
            <li class="price-list item">
              <p class="price-service">
                Cheese soup with chicken <span class="dish-size">400g</span>
              </p>
              <div class="about-dish">
                <p class="second-title">
                  Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                  greens
                </p>
                <p class="price">200 UAH</p>
              </div>
            </li>

            <li class="price-list item">
              <p class="price-service">
                Carbonara pasta <span class="dish-size">400g</span>
              </p>
              <div class="about-dish">
                <p class="second-title">
                  Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
                </p>
                <p class="price">430 UAH</p>
              </div>
            </li>

            <li class="price-list item">
              <p class="price-service">
                Pork steak <span class="dish-size">400g</span>
              </p>
              <div class="about-dish">
                <p class="second-title">
                  Pork tenderloin, spices, served with sweet chili sauce and
                  vegetables
                </p>
                <p class="price">500 UAH</p>
              </div>
            </li>
            <li class="price-list item">
              <p class="price-service">
                Gorbusha in white wine sauce
                <span class="dish-size">400g</span>
              </p>
              <div class="about-dish">
                <p class="second-title">
                  Tender redfish, cream sauce based on white wine
                </p>
                <p class="price">400 UAH</p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="uppertitle">SALDS</h3>
          <ul class="price-list-list">
            <li class="price-list item">
              <p class="price-service">
                Caesar with chicken <span class="dish-size">230g</span>
              </p>
              <div class="about-dish">
                <p class="second-title">
                  Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                  croutons, Caesar sauce
                </p>
                <p class="price">450 UAH</p>
              </div>
            </li>
            <li class="price-list item">
              <p class="price-service">
                Caesar with shrimp <span class="dish-size">230g</span>
              </p>
              <div class="about-dish">
                <p class="second-title">
                  Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                  croutons, caesar sauce
                </p>
                <p class="price">300 UAH</p>
              </div>
            </li>

            <li class="price-list item">
              <p class="price-service">
                Greek salad <span class="dish-size">230g</span>
              </p>
              <div class="about-dish">
                <p class="second-title">
                  Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                  lettuce, sauce
                </p>
                <p class="price">280 UAH</p>
              </div>
            </li>

            <li class="price-list item">
              <p class="price-service">
                Meat salad <span class="dish-size">230g</span>
              </p>
              <div class="about-dish">
                <p class="second-title">
                  Chicken fillet or pork tenderloin, fresh cucumber, tomato,
                  bell pepper, ranch sauce
                </p>
                <p class="price">300 UAH</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-price">
        <div class="price-block-list">
          <h3 class="uppertitle">SIDE DISHES AND SNACKS</h3>
          <ul class="price-list-list">
            <li class="price-list item">
              <p class="price-service">
                Baked vegetables <span class="dish-size">200g</span>
              </p>
              <div class="about-dish">
                <p class="second-title">Zucchini, pepper, tomato, eggplant</p>
                <p class="price">230 UAH</p>
              </div>
            </li>

            <li class="price-list item">
              <p class="price-service">
                French fries <span class="dish-size">150g</span>
              </p>
              <div class="about-dish">
                <p class="second-title">Potatoes, tomato sauce</p>
                <p class="price">160 UAH</p>
              </div>
            </li>
            <li class="price-list item">
              <p class="price-service">
                Peasant-style potatoes <span class="dish-size">150g</span>
              </p>
              <div class="about-dish">
                <p class="second-title">Potatoes, spices, spicy sauces</p>
                <p class="price">160 UAH</p>
              </div>
            </li>
            <li class="price-list item">
              <p class="price-service">
                Crisp pickles from the barrel
                <span class="dish-size">250g</span>
              </p>
              <div class="about-dish">
                <p class="second-title">
                  Salted cucumber, pickled tomato, sauerkraut, Korean carrot
                </p>
                <p class="price">350 UAH</p>
              </div>
            </li>
            <li class="price-list item">
              <p class="price-service">
                Chicken wings in honey sauce
                <span class="dish-size">400g</span>
              </p>
              <span class="second-title last-title"
                >Chicken wings, mustard-honey sauce, served with carrots, celery
                and blue cheese sauce</span
              >
            </li>
          </ul>
        </div>
        <h3 class="uppertitle">DESSERTS</h3>
        <ul class="price-list-list">
          <li class="price-list item">
            <div class="about-dish">
              <p class="price-service">Napoleon cake</p>
              <p class="price">200 UAH</p>
            </div>
          </li>
          <li class="price-list item">
            <div class="about-dish">
              <p class="price-service">Poppy cake</p>
              <p class="price">300 UAH</p>
            </div>
          </li>
          <li class="price-list item">
            <div class="about-dish">
              <p class="price-service">Tiramisu</p>
              <p class="price">260 UAH</p>
            </div>
          </li>
        </ul>

        <h3 class="uppertitle">DRINKS</h3>
        <ul class="price-list-list">
          <li class="price-list item">
            <div class="about-dish">
              <p class="price-service">Black/green tea</p>
              <p class="price">100 UAH</p>
            </div>
          </li>
          <li class="price-list item">
            <div class="about-dish">
              <p class="price-service">Espresso</p>
              <p class="price">100 UAH</p>
            </div>
          </li>
          <li class="price-list item">
            <div class="about-dish">
              <p class="price-service">Cappuccino</p>
              <p class="price">100 UAH</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="button-menu-restauran">
      <button type="button" class="restauran-btn js-open-modal" data-modal="1">
        BOOK A TABLE
      </button>
    </div>
  </div>
</section>
