
.room-desc-text-block {
    margin-bottom: 28px;
}

@media screen and (min-width:768px) {

    .room-text-block-four {
        width: 476px;
    }

    .room-button-list-four {
        justify-content: end;
    }

}

@media screen and (min-width:768px) and (max-width:1439px) {
    .room-photo-list-four {
        flex-direction: row-reverse;
    }
}