/* slider */
.slick-slider {
}
/* ограничивающая оболочка */
.slick-list {
}
/* лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
.slick-slide {
}
/*  слайд активный */
.slick-slide.slick-active {
}
/* слайд основной */
.slick-slide.slick-current {
}
/* слайд по центру */
.slick-slide.slick-center {
}

/* стрелка */
.slick-arrow {
  position: relative;
}
/* стрелка в лево */
.slick-arrow.slick-prev {
  width: 36px;
  height: 36px;
  font-size: 0;
  left: 70%;
  background: url('/img/hero-hotel/left.svg') 0 0 /7px no-repeat;
  border: none;
}
/* стрелка в право */
.slick-arrow.slick-next {
  width: 36px;
  height: 36px;
  font-size: 0;
  left: 70%;
  background: url('/img/hero-hotel/right.svg') 0 0 /7px no-repeat;
  margin-left: 32px;
  border: none;
}
/*  стрелка не активная */
.slick-arrow.slick-disabled {
  opacity: 0.2;
}

/* Точки */
.slick-dots {
}
.slick-dots.li {
}
.slick-dots.button {
}
/* hero-hotel-slider */
.hotel-hero_slider {
  position: relative;
}
.hotel-hero_slider .slick-arrow {
  position: absolute;
  border: none;
  bottom: -10%;
  z-index: 10;
  font-size: 0;
  width: 36px;
  height: 36px;
}
.slider-item_img {
}

.hero-hotel_title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .hero-hotel_title {
    font-size: 80px;
    line-height: 1;
  }
}
@media screen and (min-width: 1440px) {
  .hero-hotel_title {
    font-size: 90px;
    line-height: 1;
  }
}
.hero-hotel_btn {
  padding: 8px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  border: 0.8px solid var(--primary-text-color);
  border-radius: 32px;
  cursor: pointer;
}
.hero-hotel_btn:hover,
.hero-hotel_btn:focus {
  color: var(--white-base);
  background-color: var(--primary-text-color);
  border: 0.8px solid #f7f7f7;
}

@media screen and (min-width: 768px) {
  .hero-hotel_btn {
    padding: 8px 24px;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1440px) {
  .hero-hotel_btn {
    padding: 9px 24px;
    font-size: 18px;
    line-height: 1.33;
  }
}
.hotel-title-cont {
  margin-bottom: 40px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .hotel-title-cont {
    margin-bottom: 54px;
  }
}
@media screen and (min-width: 1440px) {
  .hotel-title-cont {
    margin-top: 204px;
    margin-bottom: 0;
  }
}
.hotel-buttons-con {
  display: flex;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .hotel-buttons-con {
    gap: 14px;
  }
}
.hotel-hero_text {
  padding-top: 40px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .hotel-hero_text {
    position: relative;
  }
}

.hotel-bottom_wrap {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .hotel-bottom_wrap {
    position: relative;
    width: 338px;
    margin-top: 0;
  }
}
.hotel-hero_slider {
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .hotel-hero_slider {
    display: flex;
    max-height: 548px;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .hotel-hero_slider {
    position: absolute;
    top: 100px;
    left: 50%;
  }
}
@media screen and (min-width: 768px) {
  .hotel-img_sizes {
    width: 436px;
  }
}
.hotel-slider-img {
  display: block;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .hotel-slider-img {
    display: block;
    width: 436px;
  }
}
.overflow-hotel {
  overflow: hidden;
}
@media screen and (min-width: 1440px) {
  .overflow-hotel {
    height: 770px;
  }
}
.arrows-wrap {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .arrows-wrap {
    position: absolute;
    left: 165%;
    bottom: 29%;
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .arrows-wrap {
    position: absolute;
    left: 200%;
    bottom: -5%;
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .hotel-text-cont {
    margin-top: 252px;
    padding-top: 0;
  }
}
