<section class="room-hero_section">
  <div class="container overflow-room">
    <div class="title-cont">
      <h1 class="luxury-room_title">Double luxury room</h1>
      <button class="luxury-btn js-open-modal" data-modal="3" type="button">
        view prices
      </button>
    </div>
    <div class="room-hero_slider">
      <div>
        <picture class="slider-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hero-room/descimg1@1x.jpg 436w,
              ./img/hero-room/descimg1@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 1440px) 436px, 100vw"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero-room/tabletimg1@1x.jpg 436w,
              ./img/hero-room/tabletimg1@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 768px) 436px, 100vw"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero-room/mobimg1@1x.jpg 250w,
              ./img/hero-room/mobimg1@2x.jpg 500w
            "
            type="image/jpg"
            sizes="(max-width: 767px) 250px, 100vw"
          />
          <img
            class="img-sizes"
            src="./img/hero-room/mobimg1@1x.jpg"
            alt="hotel front side"
            width="250"
            height="429"
            loading="lazy"
          />
        </picture>
      </div>
      <div>
        <picture class="slider-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hero-room/descimg2@1x.jpg 436w,
              ./img/hero-room/descimg2@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 1440px) 436px, 100vw"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero-room/tabletimg2@1x.jpg 436w,
              ./img/hero-room/tabletimg2@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 768px) 436px, 100vw"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero-room/mobimg2@1x.jpg 250w,
              ./img/hero-room/mobimg2@2x.jpg 500w
            "
            type="image/jpg"
            sizes="(max-width: 767px) 250px, 100vw"
          />
          <img
            class="img-sizes"
            src="./img/hero-room/mobimg2@1x.jpg"
            alt="hotel right side"
            width="250"
            height="429"
            loading="lazy"
          />
        </picture>
      </div>
      <div>
        <picture class="slider-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hero-room/descimg3@1x.jpg 436w,
              ./img/hero-room/descimg3@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 1440px) 436px, 100vw"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero-room/tabletimg3@1x.jpg 436w,
              ./img/hero-room/tabletimg3@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 768px) 436px, 100vw"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero-room/mobimg3@1x.jpg 250w,
              ./img/hero-room/mobimg3@2x.jpg 500w
            "
            type="image/jpg"
            sizes="(max-width: 767px) 250px, 100vw"
          />
          <img
            class="img-sizes"
            src="./img/hero-room/mobimg3@1x.jpg"
            alt="double luxury room"
            width="250"
            height="429"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="bottom-wrap">
      <div class="svg-slider_wrap">
        <ul class="slider-svg_room">
          <li>
            <button class="btn-slider_room">
              <svg class="svg-room_hover" width="7" height="14">
                <use href="./img/icons/slider.svg#slider-left"></use>
              </svg>
            </button>
          </li>
          <li>
            <button class="btn-slider_room">
              <svg class="svg-room_hover" width="7" height="14">
                <use href="./img/icons/slider.svg#slider-rigth"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <div class="luxury-text-cont">
        <p class="luxury-hero_text">
          The Mimino hotel features spacious and stylish double luxury rooms
          with modern amenities for a comfortable stay.
        </p>
      </div>
    </div>
  </div>
</section>
