<section>
  <h1>Double luxury room</h1>
  <button type="button">view prices</button>
  <ul>
    <li>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/hero-room/_descimg1@1x.jpg 1x,
            ./img/hero-room/_descimg1@2x.jpg 2x
          "
          type="image/jpg"
          sizes="(min-width: 1440px) 436px, 100vw"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/hero-room/_tabletimg1@1x.jpg 1x,
            ./img/hero-room/_tabletimg1@2x.jpg 2x
          "
          type="image/jpg"
          sizes="(min-width: 768px) 436px, 100vw"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero-room/_mobimg1@1x.jpg 1x,
            ./img/hero-room/_mobimg1@2x.jpg 2x
          "
          type="image/jpg"
          sizes="(max-width: 767px) 250px, 100vw"
        />
        <img
          src="./img/hero-room/_mobimg1@1x.jpg"
          alt="hotel front side"
          width="250"
          height="429"
          loading="lazy"
        />
      </picture>
    </li>
    <li>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/hero-room/_descimg2@1x.jpg 1x,
            ./img/hero-room/_descimg2@2x.jpg 2x
          "
          type="image/jpg"
          sizes="(min-width: 1440px) 436px, 100vw"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/hero-room/_tabletimg2@1x.jpg 1x,
            ./img/hero-room/_tabletimg2@2x.jpg 2x
          "
          type="image/jpg"
          sizes="(min-width: 768px) 436px, 100vw"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero-room/_mobimg2@1x.jpg 1x,
            ./img/hero-room/_mobimg2@2x.jpg 2x
          "
          type="image/jpg"
          sizes="(max-width: 767px) 250px, 100vw"
        />
        <img
          src="./img/hero-room/_mobimg2@1x.jpg"
          alt="hotel right side"
          width="250"
          height="429"
          loading="lazy"
        />
      </picture>
    </li>
  </ul>
  <ul>
    <li>slider-1</li>
    <li>slider-2</li>
  </ul>
  <p>
    The Mimino hotel features spacious and stylish double luxury rooms with
    modern amenities for a comfortable stay.
  </p>
</section>
