.main-hero-section {
  background-color: var(--secondary-background-color);
}
.main-hero-container {
  padding-top: 40px;
  padding-bottom: 40px;

  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 70.73%,
      #121212 100%
    ),
    url(../../..//img/main-page-hero/mobile-background-img@2x.jpg);
  background-repeat: no-repeat;
  background-size: 335px 439px;
  background-position: top 40px left calc(50%);
  background-color: var(--secondary-background-color);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 70.73%,
        #121212 100%
      ),
      url(../../..//img/main-page-hero/mobile-background-img@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main-hero-container {
    padding-top: 50px;

    background-size: 542px 710px;
    background-position: top 50px left calc(50%);
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 70.73%,
        #121212 100%
      ),
      url(../../../img/main-page-hero/tablet-background-img@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 70.73%,
          #121212 100%
        ),
        url(../../../img/main-page-hero/tablet-background-img@2x.jpg);
    }
  }
}

@media screen and (min-width: 1440px) {
  .main-hero-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 48px;

    background-size: 542px 770px;
    background-position: right;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 70.73%,
        #121212 100%
      ),
      url(../../../img/main-page-hero/desktop-background-img@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-hero-container {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 70.73%,
          #121212 100%
        ),
        url(../../../img/main-page-hero/desktop-background-img@2x.jpg);
    }
  }
}

@media screen and (min-width: 1440px) {
  .main-hero-container {
    margin: 0 auto;
  }
}

.main-hero-title {
  margin-top: 389px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main-txt-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main-hero-title {
    margin-top: 478px;
    margin-bottom: 32px;

    font-size: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .main-hero-title {
    margin-top: 196px;
    margin-bottom: 196px;

    font-size: 180px;
    text-align: start;
  }
}

@media screen and (min-width: 1440px) {
  .main-hero-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 275px;
  }
}

.main-hero-list {
  display: flex;
  gap: 14px;
  margin-bottom: 66px;

  justify-content: center;
}

@media screen and (min-width: 768px) {
  .main-hero-list {
    margin-bottom: 86px;
  }
}

@media screen and (min-width: 1440px) {
  .main-hero-list {
    margin-bottom: 0;

    justify-content: start;
  }
}

.main-hero-btn {
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--primary-background-color);
  padding: 9px 24px;
  /* min-width: 114px; */
  border: 0.8px solid #f7f7f7;
  border-radius: 32px;
  transition: var(--animation-btn);
}

.main-hero-btn:hover,
.main-hero-btn:focus {
  color: var(--primary-text-color);
  background-color: var(--white-base);
}

@media screen and (min-width: 768px) {
  .main-hero-btn {
    line-height: calc(24 / 14);
    min-width: 143px;
  }
}

@media screen and (min-width: 1440px) {
  .main-hero-btn {
    font-size: 18px;
    line-height: calc(24 / 18);
    min-width: 170px;
  }
}

.main-hero-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.main-hero-txt {
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--main-txt-color);
}

@media screen and (min-width: 768px) {
  .main-hero-txt:first-child {
    width: 338px;
  }

  .main-hero-txt:last-child {
    width: 314px;
  }
}

.main-hero-title {
  -webkit-animation: main-hero-title 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: main-hero-title 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes main-hero-title {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes main-hero-title {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
