<section class="menu-table">
  <div class="container">
    <ul class="room-menu-list">
      <li class="room-menu-item">
        <h2 class="room-menu-title">General Amenities & Facilities:</h2>
        <ul class="room-menu-text-list">
          <li class="room-menu-text-item">
            <p class="room-menu-text">24-hour front desk service</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Daily housekeeping</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Free Wi-Fi throughout the hotel</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Elevator access</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Luggage storage</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Non-smoking rooms available</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Meeting rooms for business and events</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">On-site parking (surcharge)</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Concierge services</p>
          </li>
        </ul>
      </li>
      <li class="room-menu-item">
        <h2 class="room-menu-title">Bathroom:</h2>
        <ul class="room-menu-text-list">
          <li class="room-menu-text-item">
            <p class="room-menu-text">Private bathroom with shower</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Complimentary toiletries</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Hair dryer</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Fresh towels daily</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">
              Deluxe bathrobes (in some room categories)
            </p>
          </li>
        </ul>
      </li>
      <li class="room-menu-item">
        <h2 class="room-menu-title">Bedroom:</h2>
        <ul class="room-menu-text-list">
          <li class="room-menu-text-item">
            <p class="room-menu-text">
              Comfortable beds with high-quality linens
            </p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Blackout curtains</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">
              Climate control (air conditioning and heating)
            </p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Safe for valuables</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Writing desk and chair</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Flat-screen TV with cable channels</p>
          </li>
        </ul>
      </li>
      <li class="room-menu-item">
        <h2 class="room-menu-title">Kitchen:</h2>
        <ul class="room-menu-text-list">
          <li class="room-menu-text-item">
            <p class="room-menu-text">
              In-room kitchenette (in some room categories)
            </p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Refrigerator</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Microwave</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Electric kettle</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Cooking utensils and cutlery</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Dining table and chairs</p>
          </li>
        </ul>
      </li>
      <li class="room-menu-item">
        <h2 class="room-menu-title">Media:</h2>
        <ul class="room-menu-text-list">
          <li class="room-menu-text-item">
            <p class="room-menu-text">Flat-screen TV with cable channels</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">High-speed Wi-Fi</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">iPod docking station</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">Speaker system</p>
          </li>
          <li class="room-menu-text-item">
            <p class="room-menu-text">
              Electrical outlets for charging devices.
            </p>
          </li>
        </ul>
      </li>
    </ul>

    <div class="room-wrapper">
      <div class="room-menu-bath-img-wrapper">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/double-menu-table/bath-desc.jpeg    1x,
              /img/double-menu-table/bath-desc-2x.jpeg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/double-menu-table/bath-tab.jpeg    1x,
              /img/double-menu-table/bath-tab-2x.jpeg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/double-menu-table/bath-mob.jpeg    1x,
              /img/double-menu-table/bath-mob-2x.jpeg 2x
            "
            type="image/jpg"
          />
          <img
            class="room-menu-bath-img"
            src="/img/double-menu-table/bath-mob.jpeg"
            alt="Bathroom"
            loading="lazy"
          />
        </picture>

        <picture class="room-menu-cosmetic-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/double-menu-table/cosmetic-desc.jpeg    1x,
              /img/double-menu-table/cosmetic-desc-2x.jpeg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/double-menu-table/cosmetic-tab.jpeg    1x,
              /img/double-menu-table/cosmetic-tab-2x.jpeg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/double-menu-table/cosmetic-mob.jpeg    1x,
              /img/double-menu-table/cosmetic-mob-2x.jpeg 2x
            "
            type="image/jpg"
          />
          <img
            src="/img/double-menu-table/cosmetic-mob.jpeg"
            alt="Bathroom"
            loading="lazy"
          />
        </picture>
      </div>

      <button class="room-menu-btn">book a room</button>
    </div>
  </div>
</section>
