<section class="section luxury-room">
  <div class="container">
    <ul class="luxury-list-img">
      <li class="luxury-item-img">
        <picture>
          <source media="(min-width: 1440px)" srcset="
              ./img/double-luxe-room/luxury-img-3_desk@1x.jpg 1x,
              ./img/double-luxe-room/luxury-img-3_desk@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 768px)" srcset="
              ./img/double-luxe-room/luxury-img-3_tablet@1x.jpg 1x,
              ./img/double-luxe-room/luxury-img-3_tablet@2x.jpg 2x
            " type="image/jpg" />
          <source media="(max-width: 767px)" srcset="
              ./img/double-luxe-room/luxury-img-3_mobile@1x.jpg 1x,
              ./img/double-luxe-room/luxury-img-3_mobile@2x.jpg 2x
            " type="image/jpg" />
          <img src="./img/double-luxe-room/luxury-img-3_mobile@1x.jpg" alt="Bedroom" width="539" height="468"
            loading="lazy" />
        </picture>
      </li>
      <li class="luxury-item-img">
        <picture>
          <source media="(min-width: 1440px)" srcset="
              ./img/double-luxe-room/luxury-img-2_desk@1x.jpg 1x,
              ./img/double-luxe-room/luxury-img-2_desk@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 768px)" srcset="
              ./img/double-luxe-room/luxury-img-2_tablet@1x.jpg 1x,
              ./img/double-luxe-room/luxury-img-2_tablet@2x.jpg 2x
            " type="image/jpg" />
          <source media="(max-width: 767px)" srcset="
              ./img/double-luxe-room/luxury-img-2_mobile@1x.jpg 1x,
              ./img/double-luxe-room/luxury-img-2_mobile@2x.jpg 2x
            " type="image/jpg" />
          <img src="./img/double-luxe-room/luxury-img-2_mobile@1x.jpg" alt="Bathroom" width="386" height="149"
            loading="lazy" />
        </picture>
      </li>
      <li class="luxury-item-img">
        <picture>
          <source media="(min-width: 1440px)" srcset="
              ./img/double-luxe-room/luxury-img-1_desk@1x.jpg 1x,
              ./img/double-luxe-room/luxury-img-1_desk@2x.jpg 2x
            " type="image/jpg" />
          <source media="(min-width: 768px)" srcset="
              ./img/double-luxe-room/luxury-img-1_tablet@1x.jpg 1x,
              ./img/double-luxe-room/luxury-img-1_tablet@2x.jpg 2x
            " type="image/jpg" />
          <source media="(max-width: 767px)" srcset="
              ./img/double-luxe-room/luxury-img-1_mobile@1x.jpg 1x,
              ./img/double-luxe-room/luxury-img-1_mobile@2x.jpg 2x
            " type="image/jpg" />
          <img src="./img/double-luxe-room/luxury-img-1_mobile@1x.jpg" alt="Kitchen" width="386" height="149"
            loading="lazy" />
        </picture>
      </li>
    </ul>
    <div class="box-bottom-part">
      <h2 class="section-title luxury-title">Double luxury room</h2>
      <div class="luxury-text-wrapper">
        <p class="section-text one-part-text">
          Experience luxury in our Double Luxury Room at Mimino Hotel. This
          spacious room features a comfortable bed, private bathroom,
          flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
          curtains, and soundproofing ensure a peaceful night's sleep.
        </p>
        <p class="section-text two-part-text">
          Relax after a busy day at the writing desk or armchair. Book now for a
          convenient and comfortable stay.
        </p>
      </div>
      <div class="luxury-btn-wrapper">
        <ul class="general-list-btn">
          <li class="luxury-item-btn">
            <a class="light-theme-btn section-text" href="./room.html" target="_blank" rel="noreferrer noopener">More
              details</a>
          </li>
          <!-- Кнопка View prices має відкривати модальне вікно Prices per Room Modal window.  -->
          <li>
            <button class="light-theme-btn section-text" type="button">
              View prices
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<load src="./double-menu-table.html" />