<section class="room-type container">
  <div class="room-photo-list room-photo-list-four list">
    <picture class="room-photo">
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/four-seater/four-seater-room-desk.jpg    1x,
          /img/four-seater/four-seater-room-desk@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/four-seater/four-seater-room-tab.jpg    1x,
          /img/four-seater/four-seater-room-tab@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/four-seater/four-seater-room-mob.jpg    1x,
          /img/four-seater/four-seater-room-mob@2x.jpg 2x
        "
      />
      <img
        src="/img/four-seater/four-seater-room-mob.jpg"
        alt="Four seater room photo 1"
        loading="lazy"
      />
    </picture>

    <div class="room-photo-block">
      <picture class="room-photo">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/four-seater/four-seater-room-desk2.jpg    1x,
            /img/four-seater/four-seater-room-desk2@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/four-seater/four-seater-room-tab2.jpg    1x,
            /img/four-seater/four-seater-room-tab2@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/four-seater/four-seater-room-mob2.jpg    1x,
            /img/four-seater/four-seater-room-mob2@2x.jpg 2x
          "
        />
        <img
          src="/img/four-seater/four-seater-room-mob2.jpg"
          alt="Four seater room photo 2"
          loading="lazy"
        />
      </picture>
      <picture class="room-photo">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/four-seater/four-seater-room-desk3.jpg    1x,
            /img/four-seater/four-seater-room-desk3@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/four-seater/four-seater-room-tab3.jpg    1x,
            /img/four-seater/four-seater-room-tab3@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/four-seater/four-seater-room-mob3.jpg    1x,
            /img/four-seater/four-seater-room-mob3@2x.jpg 2x
          "
        />
        <img
          src="/img/four-seater/four-seater-room-mob3.jpg"
          alt="Four seater room photo 3"
          loading="lazy"
        />
      </picture>
    </div>
  </div>

  <div class="room-desc-block-four">
    <div class="room-text-block">
      <h2 class="room-title">Four-seater Room</h2>
      <p class="room-desc-text-four">
        Our 4-person room is perfect for small groups, offering comfort and
        convenience with 4 comfortable beds, ample storage, flat-screen TV,
        mini-fridge, coffee maker, desk and chair, air-conditioning, heating,
        and soundproof walls. Book now for a memorable stay.
      </p>
    </div>
    <ul class="room-button-list room-button-list-four list">
      <li>
        <a
          class="room-button-link"
          href="./room.html"
          target="_blank"
          rel="noreferrer noopener"
          >More details</a
        >
      </li>
      <li>
        <button class="room-button button js-open-modal" data-modal="3" type="button">View prices</button>
      </li>
    </ul>
  </div>
</section>
