<section class="section">
  <div class="container desc-container_flex overflow">
    <div class="desc-main_container">
      <div class="desc-title">
        <h1 class="title-hero">HOTEL</h1>
        <ul class="btn-hero_list">
          <li class="hover-hero">
            <button type="button" class="btn-hero">Book a Room</button>
          </li>
          <li class="hover-hero">
            <button type="button" class="btn-hero">View prices</button>
          </li>
        </ul>
        <div class="desc-hero_text">
          <p>
            Whether you're in the mood for a hearty breakfast, a light lunch, or
            a romantic dinner, our menu has something for everyone.
          </p>
        </div>
      </div>
      <div class="desc-img_container">
        <ul class="images-hero_list desc-img_list">
          <li>
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./src/img/hero-hotel/_descimg1@1x.jpg 1x,
                  ./src/img/hero-hotel/_descimg1@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/hero-hotel/_tabletimg1@1x.jpg 1x,
                  /img/hero-hotel/_tabletimg1@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/hero-hotel/_mobimg1@1x.jpg 1x,
                  /img/hero-hotel/_mobimg1@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="img-hero_tablet"
                src="/img/hero-hotel/_mobimg1@1x.jpg"
                alt="hotel front side"
                width="250"
                height="429"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="images-hero_item">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/hero-hotel/_descimg2@1x.jpg 1x,
                  /img/hero-hotel/_descimg2@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/hero-hotel/_tabletimg2@1x.jpg 1x,
                  /img/hero-hotel/_tabletimg2@2x.jpg 2x
                "
                type="image/jpg"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/hero-hotel/_mobimg2@1x.jpg 1x,
                  /img/hero-hotel/_mobimg2@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                class="img-hero_tablet"
                src="img/hero-hotel/_mobimg2@1x.jpg"
                alt="hotel right side"
                width="250"
                height="429"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero_text hero-text_hidden">
      <p>
        Whether you're in the mood for a hearty breakfast, a light lunch, or a
        romantic dinner, our menu has something for everyone.
      </p>
    </div>
  </div>
</section>
