<section class="section">

  <div class="container desc-container_flex overflow">
    <div class="desc-main_container">
      <div class="desc-title">
        <h1 class="title-hero">HOTEL</h1>
        <ul class="btn-hero_list">
          <li class="hover-hero">
            <button type="button" class="btn-hero js-open-modal" data-modal="2">Book a Room</button>
          </li>
          <li class="hover-hero">
            <button type="button" class="btn-hero">View prices</button>
          </li>
        </ul>
        <div class="desc-hero_text">
          <p>
            Whether you're in the mood for a hearty breakfast, a light lunch, or
            a romantic dinner, our menu has something for everyone.
          </p>
        </div>
      </div>
      <div class="slider-item_img">
        <picture class="hotel-slider-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hero-hotel/descimg3@1x.jpg 436w,
              ./img/hero-hotel/descimg3@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 1440px) 436px, 100vw"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero-hotel/tabletimg3@1x.jpg 436w,
              ./img/hero-hotel/tabletimg3@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 768px) 436px, 100vw"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero-hotel/mobimg3@1x.jpg 250w,
              ./img/hero-hotel/mobimg3@2x.jpg 500w
            "
            type="image/jpg"
            sizes="(max-width: 767px) 250px, 100vw"
          />
          <img
            class="hotel-img_sizes"
            src="./img/hero-hotel/mobimg3@1x.jpg"
            alt="double luxury room"
            width="250"
            height="429"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="hotel-bottom_wrap">
      <div class="arrows-wrap"></div>
      <div class="hotel-text-cont">
        <p class="hotel-hero_text">
          Whether you're in the mood for a hearty breakfast, a light lunch, or a
          romantic dinner, our menu has something for everyone.
        </p>
      </div>
    </div>
  </div>
  <!-- Connect JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <!-- Connect slick.min.js -->
  <script src="./js/slick.min.js" type="module"></script>
  <!-- connect slick-slider.js -->
  <script src="./js/slick.slider.js" type="module"></script>
</section>
