<section class="section hero-hotel_section">
  <div class="container overflow-hotel">
    <div class="hotel-title-cont">
      <h1 class="hero-hotel_title">HOTEL</h1>

      <ul class="hotel-buttons-con">
        <li>
          <button
            type="button"
            class="hero-hotel_btn js-open-modal"
            data-modal="2"
          >
            Book a Room
          </button>
        </li>
        <li class="hover-hero">
          <button
            type="button"
            class="hero-hotel_btn js-open-modal"
            data-modal="3"
          >
            View prices
          </button>
        </li>
      </ul>
    </div>
    <div class="hotel-hero_slider">
      <div>
        <picture class="hotel-slider-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hero-hotel/descimg1@1x.jpg 436w,
              ./img/hero-hotel/descimg1@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 1440px) 436px, 100vw"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero-hotel/tabletimg1@1x.jpg 436w,
              ./img/hero-hotel/tabletimg1@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 768px) 436px, 100vw"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero-hotel/mobimg1@1x.jpg 250w,
              ./img/hero-hotel/mobimg1@2x.jpg 500w
            "
            type="image/jpg"
            sizes="(max-width: 767px) 250px, 100vw"
          />
          <img
            class="hotel-img_sizes"
            src="./img/hero-hotel/mobimg1@1x.jpg"
            alt="double luxury room"
            width="250"
            height="429"
            loading="lazy"
          />
        </picture>
      </div>
      <div>
        <picture class="hotel-slider-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hero-hotel/descimg2@1x.jpg 436w,
              ./img/hero-hotel/descimg2@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 1440px) 436px, 100vw"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero-hotel/tabletimg2@1x.jpg 436w,
              ./img/hero-hotel/tabletimg2@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 768px) 436px, 100vw"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero-hotel/mobimg2@1x.jpg 250w,
              ./img/hero-hotel/mobimg2@2x.jpg 500w
            "
            type="image/jpg"
            sizes="(max-width: 767px) 250px, 100vw"
          />
          <img
            class="hotel-img_sizes"
            src="./img/hero-hotel/mobimg2@1x.jpg"
            alt="double luxury room"
            width="250"
            height="429"
            loading="lazy"
          />
        </picture>
      </div>
      <div>
        <picture class="hotel-slider-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hero-hotel/descimg3@1x.jpg 436w,
              ./img/hero-hotel/descimg3@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 1440px) 436px, 100vw"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero-hotel/tabletimg3@1x.jpg 436w,
              ./img/hero-hotel/tabletimg3@2x.jpg 872w
            "
            type="image/jpg"
            sizes="(min-width: 768px) 436px, 100vw"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero-hotel/mobimg3@1x.jpg 250w,
              ./img/hero-hotel/mobimg3@2x.jpg 500w
            "
            type="image/jpg"
            sizes="(max-width: 767px) 250px, 100vw"
          />
          <img
            class="hotel-img_sizes"
            src="./img/hero-hotel/mobimg3@1x.jpg"
            alt="double luxury room"
            width="250"
            height="429"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <div class="hotel-bottom_wrap">
      <div class="hotel-slide_svg">
        <ul class="slider-svg_hotel">
          <li>
            <button class="btn-slider_hotel">
              <svg class="svg-hotel_hover" width="7" height="14">
                <use href="./img/icons/slider.svg#slider-left"></use>
              </svg>
            </button>
          </li>
          <li>
            <button class="btn-slider_hotel">
              <svg class="svg-hotel_hover" width="7" height="14">
                <use href="./img/icons/slider.svg#slider-rigth"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <div class="hotel-text-cont">
        <p class="hotel-hero_text">
          Whether you're in the mood for a hearty breakfast, a light lunch, or a
          romantic dinner, our menu has something for everyone.
        </p>
      </div>
    </div>
  </div>
</section>
