<section class="room-type container">
  <div class="room-photo-list list">
    <picture class="room-photo">
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/tripple-room/tripple-room-desk.jpg    1x,
          /img/tripple-room/tripple-room-desk@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/tripple-room/tripple-room-tab.jpg    1x,
          /img/tripple-room/tripple-room-tab@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/tripple-room/tripple-room-mob.jpg    1x,
          /img/tripple-room/tripple-room-mob@2x.jpg 2x
        "
      />
      <img
        src="/img/tripple-room/tripple-room-mob.jpg"
        alt="Tripple room photo 1"
        loading="lazy"
      />
    </picture>

    <div class="room-photo-block">
      <picture class="room-photo">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/tripple-room/tripple-room-desk2.jpg    1x,
            /img/tripple-room/tripple-room-desk2@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/tripple-room/tripple-room-tab2.jpg    1x,
            /img/tripple-room/tripple-room-tab2@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/tripple-room/tripple-room-mob2.jpg    1x,
            /img/tripple-room/tripple-room-mob2@2x.jpg 2x
          "
        />
        <img
          src="/img/tripple-room/tripple-room-mob2.jpg"
          alt="Tripple room photo 2"
          loading="lazy"
        />
      </picture>
      <picture class="room-photo">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/tripple-room/tripple-room-desk3.jpg    1x,
            /img/tripple-room/tripple-room-desk3@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/tripple-room/tripple-room-tab3.jpg    1x,
            /img/tripple-room/tripple-room-tab3@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/tripple-room/tripple-room-mob3.jpg    1x,
            /img/tripple-room/tripple-room-mob3@2x.jpg 2x
          "
        />
        <img
          src="/img/tripple-room/tripple-room-mob3.jpg"
          alt="Tripple room photo 3"
          loading="lazy"
        />
      </picture>
    </div>
  </div>

  <div class="room-desc-block">
    <div class="room-text-block">
      <h2 class="room-title">Triple Room</h2>
      <ul class="room-desc-list list">
        <li class="room-desc">
          <p class="room-desc-text">
            Escape to our spacious Triple Room, perfect for families or groups.
            Enjoy comfort with three beds, seating area, stunning views,
            flat-screen TVs, Wi-Fi, and mini-fridge.
          </p>
        </li>
        <li class="room-desc">
          <p class="room-desc-text">
            Rejuvenate in the en-suite bathroom with plush towels and
            toiletries. Book now for a memorable stay.
          </p>
        </li>
      </ul>
    </div>
    <ul class="room-button-list list">
      <li>
        <a class="room-button-link" href="">More details</a>
      </li>
      <li>
        <button class="room-button button js-open-modal" data-modal="3" type="button">View prices</button>
      </li>
    </ul>
  </div>
</section>
