<footer class="footer">
  <div class="container footer-container">
    <nav class="footer-nav">
      <ul class="footer-list list">
        <li class="footer-nav-item">
          <a href="./index.html" class="footer-nav-link link">home</a>
        </li>
        <li class="footer-nav-item">
          <a href="./hotel.html" class="footer-nav-link link">hotel</a>
        </li>
        <li class="footer-nav-item">
          <a href="./restauran.html" class="footer-nav-link link">restaurant</a>
        </li>
      </ul>
    </nav>
    <a href="./index.html" class="footer-logo">
      <h3 class="footer-logo-title">Mimino</h3>
      <p class="footer-logo-text">restaurant-hotel complex</p>
    </a>

    <ul class="footer-social list">
      <li class="footer-social-item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="footer-social-link"
        >
          <svg class="footer-social-icon" width="20" height="20">
            <use href="/img/icons/icons.svg.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          href="https://uk-ua.facebook.com/"
          target="_blank"
          class="footer-social-link"
        >
          <svg class="footer-social-icon" width="20" height="20">
            <use href="/img/icons/icons.svg.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidWsifQ%3D%3D%22%7D"
          target="_blank"
          class="footer-social-link"
        >
          <svg class="footer-social-icon" width="20" height="20">
            <use href="/img/icons/icons.svg.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
