<header class="header">
  <div class="header-container container">
    <button
      class="menu-toggle js-open-menu"
      aria-controls="mobile-menu"
      aria-expanded="false"
    >
      <svg class="header-icon" width="28" height="28">
        <use href="/img/icons/icons.svg.svg#icon-icon"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-list list">
        <li>
          <a href="./index.html" class="nav-link current link">Home</a>
        </li>
        <li>
          <a href="./hotel.html" class="nav-link link">Hotel</a>
        </li>
        <li>
          <a href="./restauran.html" class="nav-link link">Restaurant</a>
        </li>
      </ul>
    </nav>

    <a href="./index.html" class="logo link">
      <h2 class="logo-title">Mimino</h2>
      <p class="logo-text">restaurant-hotel complex</p>
    </a>

    <ul class="social-list mobile-list list">
      <li class="social-item">
        <a
          class="social-link link"
          href="https://instagram.com"
          aria-label="Instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/img/icons/icons.svg.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link link"
          href="https://facebook.com"
          aria-label="Facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/img/icons/icons.svg.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link link"
          href="https://twitter.com"
          aria-label="Twitter"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/img/icons/icons.svg.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
