<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mob-menu-header">
    <button class="menu-toggle js-close-menu">
      <svg class="mob-menu-icon-close" width="32" height="32">
        <use></use>
      </svg>
    </button>
    <div class="mob-menu-header-textblock">
      <h1 class="mob-header-title">Mimino</h1>
      <p class="mob-header-text">restaurant-hotel complex</p>
    </div>
    <ul class="header-menu-socials">
      <li class="header-menu-socials-item">
        <a class="heade-menu-socials-link" href="">
          <svg class="header-menu-socials-icon" width="20" height="20">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="header-menu-socials-item">
        <a class="header-menu-socials-link" href="">
          <svg class="header-menu-socials-icon" width="20" height="20">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="header-menu-socials-item">
        <a class="header-menu-socials-link" href="">
          <svg class="header-menu-socials-icon" width="20" height="20">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <ul class="mobile-menu">
    <li class="mob-menu-item">
      <a class="mob-menu-link link" href="http://">HOME</a>
    </li>
    <li class="mob-menu-item">
      <a class="mob-menu-link link" href="http://">HOTEL</a>
    </li>
    <li class="mob-menu-item">
      <a class="mob-menu-link link" href="http://">RESTARAUNT</a>
    </li>
  </ul>
  <ul class="mob-menu-socials">
    <li class="mob-menu-socials-item">
      <a class="mob-menu-socials-link" href="">
        <svg class="mob-menu-socials-icon" width="20" height="20">
          <use></use>
        </svg>
      </a>
    </li>
    <li class="mob-menu-socials-item">
      <a class="mob-menu-socials-link" href="">
        <svg class="mob-menu-socials-icon" width="20" height="20">
          <use></use>
        </svg>
      </a>
    </li>
    <li class="mob-menu-socials-item">
      <a class="mob-menu-socials-link" href="">
        <svg class="mob-menu-socials-icon" width="20" height="20">
          <use></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
