<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mob-menu-header">
    <button
      class="menu-toggle js-close-menu"
      type="button"
      aria-label="close-menu"
    >
      <svg class="mob-menu-icon-close" width="32" height="32">
        <use href="/img/icons/icons.svg.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="mob-menu-header-textblock">
      <h1 class="mob-header-title">Mimino</h1>
      <p class="mob-header-text">restaurant-hotel complex</p>
    </div>
    <ul class="header-menu-socials">
      <li class="header-menu-socials-item">
        <a
          class="header-menu-socials-link"
          href="https://www.instagram.com/"
          aria-label="Instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-menu-socials-icon" width="24" height="24">
            <use href="/img/icons/icons.svg.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-menu-socials-item">
        <a
          class="header-menu-socials-link"
          href="https://facebook.com"
          aria-label="Facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-menu-socials-icon" width="24" height="24">
            <use href="/img/icons/icons.svg.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-menu-socials-item">
        <a
          class="header-menu-socials-link"
          href="https://twitter.com"
          aria-label="Twitter"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-menu-socials-icon" width="24" height="24">
            <use href="/img/icons/icons.svg.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <ul class="mobile-menu">
    <li class="mob-menu-item">
      <a class="mob-menu-link link" href="../index.html">HOME</a>
    </li>
    <li class="mob-menu-item">
      <a class="mob-menu-link link" href="../hotel.html">HOTEL</a>
    </li>
    <li class="mob-menu-item">
      <a class="mob-menu-link link" href="../restauran.html">RESTARAUNT</a>
    </li>
  </ul>
  <ul class="mob-menu-socials">
    <li class="mob-menu-socials-item">
      <a
        class="mob-menu-socials-link"
        href="https://www.instagram.com/"
        aria-label="Instagram"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="mob-menu-socials-icon" width="20" height="20">
          <use href="/img/icons/icons.svg.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mob-menu-socials-item">
      <a
        class="mob-menu-socials-link"
        href="https://facebook.com"
        aria-label="Facebook"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="mob-menu-socials-icon" width="20" height="20">
          <use href="/img/icons/icons.svg.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="mob-menu-socials-item">
      <a
        class="mob-menu-socials-link"
        href="https://twitter.com"
        aria-label="Twitter"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="mob-menu-socials-icon" width="20" height="20">
          <use href="/img/icons/icons.svg.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
