<div class="modal modal-room" data-modal="2">
    <svg class="js-modal-close modal-icon-close" width="28" height="28">
        <use href="../img/icons/icons.svg.svg#icon-x-close">
        </use>
    </svg>
    <strong class="modal-room-title">BOOK A <span class="modal-room-title-italic">room</span></strong>
    
    <form class="modal-room-form">
        <ul class="modal-room-list">
            <li class="modal-room-item">
                <label class="modal-room-label">
                <input class="modal-room-input" type="text"
                name="user-name"
                value="Your name"
                >
                Who should book a room for?
            </label></li>

            <li class="modal-room-item"><label class="modal-room-label">
                <input class="modal-room-input" type="tel"
                name="user-number"
                value="+38 ()"
                pattern="\+38\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?{0,1}\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}"
                >
                Phone number
            </label></li>
            
            <li class="modal-room-item"><label class="modal-room-label">
                <input class="modal-room-input" 
                type="text"
                name="user-checkin"
                value="Today"
                >
                Check-in date
            </label></li>

            <li class="modal-room-item"><label class="modal-room-label">
                <input class="modal-room-input" type="text"
                name="user-check-out"
                value="25/04/2023"
                >
                Check-out date
            </label></li>
            
            <li class="modal-room-item modal-room-label-margin"><label class="modal-room-label ">
                <input class="modal-room-input" type="text"
                name="user-category"
                value="Double suite"
                >
                Number category
            </label></li>
        </ul>
        <div class="wrapper-btn-modal-reserve">
            <button class="room-menu-btn modal-btn-room-reservation" type="submit">MAKE A RESERVATION</button>
        </div>
        
    </form>
 </div>