<div class="modal modal-room" data-modal="2">
  <button class="js-modal-close modal-icon-close" type="button">
    <svg width="28" height="28">
      <use href="/img/icons/icons.svg.svg#icon-x-close"></use>
    </svg>
  </button>
  <strong class="modal-room-title"
    >BOOK A <span class="modal-room-title-italic">room</span></strong
  >

  <form class="modal-room-form">
    <ul class="modal-room-list">
      <li class="modal-room-item">
        <label class="modal-room-label">
          <input
            class="modal-room-input"
            type="text"
            name="user-name"
            placeholder="Your name"
          />
          Who should book a table for?
        </label>
      </li>
      <li class="modal-room-item">
        <label class="modal-room-label">
          <input
            data-phone-pattern=""
            class="modal-room-input"
            type="tel"
            name="user_phone"
            required=""
            title="(0xx)-xxx-xx-xx"
            placeholder="+ 38 ()"
          />
        </label>
        <span class="first-form-text">Phone number</span>
      </li>

      <li class="modal-room-item">
        <select class="modal-room-input" name="user-checkin">
          <option value="Today">Today</option>
          <option value="Tomorrow">Tomorrow</option>
        </select>
        <span class="first-form-text">Check-in date</span>
      </li>

      <li class="modal-room-item">
        <select class="modal-room-input" name="user-check-out">
          <option value="25/04/2023">25/04/2023</option>
          <option value="26/04/2023">26/04/2023</option>
        </select>
        <span class="first-form-text">Check-out date</span>
      </li>

      <li class="modal-room-item">
        <select class="modal-room-input" name="user-category">
          <option value="Double suite">DOUBLE LUXURY ROOM</option>
          <option value="Double suite">Triple Room</option>
          <option value="Double suite">four-seater room</option>
        </select>
        <span class="first-form-text">Number category</span>
      </li>
    </ul>
    <div class="wrapper-btn-modal-reserve">
      <button class="room-menu-btn modal-btn-room-reservation" type="submit">
        MAKE A RESERVATION
      </button>
    </div>
  </form>
</div>
