.price-menu {
  background-color: var(--secondary-background-color);
}

@media screen and (min-width: 1140px) {
  .section {
    padding-bottom: 100px;
  }
}

.price-list-list {
  list-style-type: disc;
  color: var(--secondary-text-color);
}

.title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-text-color);
  padding-bottom: 100px;
  padding-top: 100px;
}

@media screen and (min-width: 767px) {
  .title {
    font-size: 40px;
  }
}

.price-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 335px;
  flex-wrap: nowrap;
}

@media screen and (min-width: 767px) {
  .price-block {
    gap: 74px;
    width: 515px;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1140px) {
  .price-block {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.uppertitle {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 32px;
}

.price-service {
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-text-color);
  padding-bottom: 8px;
  display: flex;
  text-transform: none;
  letter-spacing: 0.02em;
}

.second-title {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  color: var(--restauran-menu-text);
  text-transform: none;
  letter-spacing: 0.18em;
  max-width: 233px;
}

@media screen and (min-width: 767px) {
  .second-title {
    max-width: 345px;
  }
}

.last-title {
  width: 325px;
  height: 54px;
}

.price-list::after {
  content: '';
  display: block;
  width: 335px;
  height: 1px;
  margin-top: 14px;
  margin-bottom: 14px;
  background-color: var(--line-color-menu);
}

@media screen and (min-width: 768px) {
  .price-list::after {
    width: 515px;
  }
}

.dish-size {
  color: #d8d7d7;
  display: block;
  margin-left: auto;
  font-size: 14px;
}

.price {
  color: var(--secondary-text-color);
  font-size: 18px;
}

.price-block-list {
  margin-bottom: 50px;
}

.about-dish {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Button */

.button-menu-restauran {
  display: flex;
  margin-top: 102px;
  justify-content: center;
}

@media screen and (min-width: 767px) {
  .button-menu-restauran {
    margin-top: 114px;
    margin-left: 95px;
    justify-content: left;
  }
}

@media screen and (min-width: 1200px) {
  .button-menu-restauran {
    margin-top: 56px;
    margin-left: 137px;
    justify-content: left;
  }
}

.restauran-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  width: 140px;
  border: 1px solid var(--secondary-text-color);
  border-radius: 32px;
  height: 40px;
  color: var(--secondary-text-color);
  background-color: transparent;
  transition: color linear 250ms, background-color linear 250ms;
}

@media screen and (min-width: 1200px) {
  .restauran-btn {
    width: 167px;
    height: 42px;
  }
}

.restauran-btn:hover,
.restauran-btn:focus {
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
}
