<section class="about-resto-section">
  <div class="about-resto-container container">
    <div class="about-resto-textblock">
      <h2 class="about-resto-title">restaurant</h2>
      <p class="about-resto-text">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>

    <div class="tab-img-list slider-container">
      <div class="tab-slider-card">
        <picture>
          <source
            srcset="
            /img/home/about-resto/first-cocktail-desk-1x.jpeg 1x,
            /img/home/about-resto/first-cocktail-desk-2x.jpeg 2x
            "
            media="(min-width:1440px)"
            width="266"
            height="309"
          />

          <source
            srcset="
            /img/home/about-resto/first-cocktail-tab-1x.jpeg 1x,
            /img/home/about-resto/first-cocktail-tab-2x.jpeg 2x
            "
            media="(min-width:768px)"
            width="336"
            height="309"
          />

          <img
            src="/img/home/about-resto/first-cocktail-mob-1x.jpeg 1x"
            srcset="
            /img/home/about-resto/first-cocktail-mob-2x.jpeg 2x
            "
            alt="restaurant1"
            width="157"
            height="201"
          />
        </picture>
      </div>

      <div class="tab-slider-card">
        <picture>
          <source
            srcset="
            /img/home/about-resto/second-bartender-desk-1x.jpeg 1x,
            /img/home/about-resto/second-bartender-desk-2x.jpeg 2x
            "
            media="(min-width:1440px)"
            width="266"
            height="309"
          />

          <source
            srcset="
            /img/home/about-resto/second-bartender-tab-1x.jpeg 1x,
            /img/home/about-resto/second-bartender-tab-2x.jpeg 2x
            "
            media="(min-width:768px)"
            width="336"
            height="309"
          />

          <img
            src="/img/home/about-resto/second-bartender-mob-1x.jpeg 1x"
            srcset="
            /img/home/about-resto/second-bartender-mob-2x.jpeg 2x
            "
            alt="restaurant1"
            width="157"
            height="201"
          />
        </picture>
      </div>

      <div class="tab-slider-card">
        <picture>
          <source
            srcset="
            /img/home/about-resto/pasta-desk-1x.jpeg 1x,
            /img/home/about-resto/pasta-desk-2x.jpeg 2x
            "
            media="(min-width:1440px)"
            width="266"
            height="309"
          />

          <source
            srcset="
            /img/home/about-resto/pasta-tab-1x.jpeg 1x,
            /img/home/about-resto/pasta-tab-2x.jpeg 2x
            "
            media="(min-width:768px)"
            width="336"
            height="309"
          />

          <img
            src="/img/home/about-resto/pasta-mob-1x.jpeg 1x"
            srcset="
            /img/home/about-resto/pasta-mob-2x.jpeg 2x
            "
            alt="restaurant1"
            width="157"
            height="201"
          />
        </picture>
      </div>

      <div class="tab-slider-card">
        <picture>
          <source
            srcset="
            /img/home/about-resto/woman-desk-1x.jpeg 1x,
            /img/home/about-resto/woman-desk-2x.jpeg 2x
            "
            media="(min-width:1440px)"
            width="266"
            height="309"
          />

          <source
            srcset="
            /img/home/about-resto/woman-tab-1x.jpeg 1x,
            /img/home/about-resto/woman-tab-2x.jpeg 2x
            "
            media="(min-width:768px)"
            width="336"
            height="309"
          />

          <img
            src="/img/home/about-resto/woman-mob-1x.jpeg 1x"
            srcset="
            /img/home/about-resto/woman-mob-2x.jpeg 2x
            "
            alt="restaurant1"
            width="157"
            height="201"
          />
        </picture>
      </div>

      <div class="tab-slider-card">
        <picture>
          <source
            srcset="
            /img/home/about-resto/seafood-desk-1x.jpeg 1x,
            /img/home/about-resto/seafood-desk-2x.jpeg 2x
            "
            media="(min-width:1440px)"
            width="266"
            height="309"
          />

          <source
            srcset="
            /img/home/about-resto/seafood-tab-1x.jpeg 1x,
            /img/home/about-resto/seafood-tab-2x.jpeg 2x
            "
            media="(min-width:768px)"
            width="336"
            height="309"
          />

          <img
            src="/img/home/about-resto/seafood-mob-1x.jpeg 1x"
            srcset="
            /img/home/about-resto/seafood-mob-2x.jpeg 2x
            "
            alt="restaurant1"
            width="157"
            height="201"
          />
        </picture>
      </div>

      <div class="tab-slider-card">
        <picture>
          <source
            srcset="
            /img/home/about-resto/cocktail-desk-1x.jpeg 1x,
            /img/home/about-resto/cocktail-desk-2x.jpeg 2x
            "
            media="(min-width:1440px)"
            width="266"
            height="309"
          />

          <source
            srcset="
            /img/home/about-resto/cocktail-tab-1x.jpeg 1x,
            /img/home/about-resto/cocktail-tab-2x.jpeg 2x
            "
            media="(min-width:768px)"
            width="336"
            height="309"
          />

          <img
            src="/img/home/about-resto/cocktail-mob-1x.jpeg 1x"
            srcset="
            /img/home/about-resto/cocktail-mob-2x.jpeg 2x
            "
            alt="restaurant1"
            width="157"
            height="201"
          />
        </picture>
      </div>
      
      <div class="tab-slider-card">
        <picture>
          <source
            srcset="
            /img/home/about-resto/dish-desk-1x.jpeg 1x,
            /img/home/about-resto/dish-desk-2x.jpeg 2x
            "
            media="(min-width:1440px)"
            width="266"
            height="309"
          />

          <source
            srcset="
            /img/home/about-resto/dish-tab-1x.jpeg 1x,
            /img/home/about-resto/dish-tab-2x.jpeg 2x
            "
            media="(min-width:768px)"
            width="336"
            height="309"
          />

          <img
            src="/img/home/about-resto/dish-mob-1x.jpeg 1x"
            srcset="
            /img/home/about-resto/dish-mob-2x.jpeg 2x
            "
            alt="restaurant1"
            width="157"
            height="201"
          />
        </picture>
      </div>
    </div>
    <!-------- BUTTONS_PREV_NEXT -->
    <div class="wrappper-btn-slider">
      <button class="slider-btn-prev">
        <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 15L0.999999 8L8 0.999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
      </button>
      <button class="slider-btn-next">
        <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 15L8 8L1 0.999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
      </button>
    </div>

    
    <ul class="about-resto-btn-list list">
      <li>
        <button class="resto-button js-open-modal" data-modal="1" type="button">
          book a table
        </button>
      </li>
      <li>
        <!-- <button class="resto-button" type="button"> -->
        <a class="resto-link link resto-button" href="./restauran.html"
          >View the menu</a
        >
        <!-- </button> -->

      </li>
    </ul>
    <!-- <ul class="scrollbar">
      <li class="scrollbar-item">
        <svg class="scrollbar-icon-left" width="7" height="14">
          <use href="./img/icons/slider.svg#slider-left"></use>
        </svg>
      </li>
      <li class="scrollbar-item">
        <svg class="scrollbar-icon-right" width="7" height="14">
          <use href="./img/icons/slider.svg#slider-rigth"></use>
        </svg>
      </li>
    </ul> -->
  </div>
</section>