<section class="about-resto-section">
  <div class="about-resto-container container">
    <div class="about-resto-textblock">
      <h2 class="about-resto-title">restaurant</h2>
      <p class="about-resto-text">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>
    <ul class="mob-img-list">
      <li>
        <img
          srcset="
            /img/home/about-resto/resto_mob_1x.jpg 1x,
            /img/home/about-resto/resto_mob_2x.jpg 2x
          "
          src="/img/home/about-resto/resto_mob_1x.jpg"
          alt="Pink coctail"
          width="157"
          height="201"
        />
      </li>
      <li>
        <img
          srcset="
            /img/home/about-resto/2resto_mob_1x.jpg 1x,
            /img/home/about-resto/2resto_mob_2x.jpg 2x
          "
          src="/img/home/about-resto/2resto_mob_1x.jpg"
          alt="Cook"
          width="157"
          height="201"
        />
      </li>
    </ul>
    <ul class="tab-img-list">
      <li>
        <img
          srcset="
            /img/home/about-resto/resto_tab_1x.jpg 1x,
            /img/home/about-resto/resto_tab_2x.jpg 2x
          "
          src="/img/home/about-resto/resto_tab_1x.jpg"
          alt="Pink coctail"
          width="336"
          height="309"
        />
      </li>
      <li>
        <img
          srcset="
            /img/home/about-resto/2resto_tab_1x.jpg 1x,
            /img/home/about-resto/2resto_tab_2x.jpg 2x
          "
          src="/img/home/about-resto/2resto_tab_1x.jpg"
          alt="Cook"
          width="336"
          height="309"
        />
      </li>
    </ul>
    <ul class="desc-img-list">
      <li>
        <img
          srcset="
            /img/home/about-resto/resto_desc_1x.jpg 1x,
            /img/home/about-resto/resto_desc_2x.jpg 2x
          "
          src="/img/home/about-resto/resto_desc_1x.jpg"
          alt="Pink coctail"
          width="266"
          height="309"
        />
      </li>
      <li>
        <img
          srcset="
            /img/home/about-resto/2resto_desc_1x.jpg 1x,
            /img/home/about-resto/2resto_desc_2x.jpg 2x
          "
          src="/img/home/about-resto/2resto_desc_1x.jpg"
          alt="Croissants"
          width="266"
          height="309"
        />
      </li>
      <li>
        <img
          srcset="
            /img/home/about-resto/3resto_desc_1x.jpg 1x,
            /img/home/about-resto/3resto_desc_2x.jpg 2x
          "
          src="/img/home/about-resto/3resto_desc_1x.jpg"
          alt="Wine"
          width="266"
          height="309"
        />
      </li>
      <li>
        <img
          srcset="
            /img/home/about-resto/4resto_desc_1x.jpg 1x,
            /img/home/about-resto/4resto_desc_2x.jpg 2x
          "
          src="/img/home/about-resto/4resto_desc_1x.jpg"
          alt="Cook"
          width="266"
          height="309"
        />
      </li>
      <li>
        <img
          srcset="
            /img/home/about-resto/5resto_desk_1x.jpg 1x,
            /img/home/about-resto/5resto_desc_2x.jpg 2x
          "
          src="/img/home/about-resto/5resto_desk_1x.jpg"
          alt="Plate"
          width="220"
          height="309"
        />
      </li>
    </ul>
    <ul class="about-resto-btn-list list">
      <li>
        <button class="resto-button js-open-modal" data-modal="1" type="button">
          book a table
        </button>
      </li>
      <li>
        <!-- <button class="resto-button" type="button"> -->
        <a class="resto-link link resto-button" href="../restauran.html"
          >View the menu</a
        >
        <!-- </button> -->
      </li>
    </ul>
    <ul class="scrollbar">
      <li class="scrollbar-item">
        <svg class="scrollbar-icon-left" width="7" height="14">
          <use href="./img/icons/slider.svg#slider-left"></use>
        </svg>
      </li>
      <li class="scrollbar-item">
        <svg class="scrollbar-icon-right" width="7" height="14">
          <use href="./img/icons/slider.svg#slider-rigth"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
