<section class="section about-section">
    <div class="container">
        <h2 class="visually-hidden">About a complex</h2>
        <ul>
            <li class="about-item">
                <div class="about-first-thumb">
                    <img srcset="../../img/home-about-a-complex/about-a-complex-1_mob@1x.jpg 335w,
                    ../../img/home-about-a-complex/about-a-complex-1_tab@1x.jpg 482w,
                    ../../img/home-about-a-complex/about-a-complex-1_mob@2x.jpg 670w,
                    ../../img/home-about-a-complex/about-a-complex-1_tab@2x.jpg 964w"
                    sizes="(min-width: 768px) 482px, (min-width: 375px) 335px, 100vh"
                    src="../../img/home-about-a-complex/about-a-complex-1_mob@1x.jpg" alt="hotel interior">
                </div>
                <div class="about-second-thumb">
                    <img srcset="../../img/home-about-a-complex/about-a-complex-2_mob@1x.jpg 282w,
                    ../../img/home-about-a-complex/about-a-complex-2_tab@1x.jpg 404w,
                    ../../img/home-about-a-complex/about-a-complex-2_desk@1x.jpg 439w,
                    ../../img/home-about-a-complex/about-a-complex-2_mob@2x.jpg 564w,
                    ../../img/home-about-a-complex/about-a-complex-2_tab@2x.jpg 808w,
                    ../../img/home-about-a-complex/about-a-complex-2_desk@2x.jpg 878w"
                    sizes="(min-width: 1440px) 439px, (min-width: 768px) 404px, (min-width: 375px) 282px, 100vh"
                    src="../../img/home-about-a-complex/about-a-complex-2_mob@1x.jpg"
                    alt="hotel bathroom">
                    <div class="rating-box">
                        <img srcset="../../img/home-about-a-complex/about-a-complex-3_mob@1x.png 1x,
                        ../../img/home-about-a-complex/about-a-complex-3_mob@2x.png 2x" 
                        src="../../img/home-about-a-complex/about-a-complex-3_mob@1x.png" 
                        alt="client Maria">
                        <div class="rating-text">
                            <p class="client-name">Maria</p>
                            <p class="rating-score"><span class="give-rating">give rating</span> 4.5</p>
                        </div>
                    </div>
                </div>
                <div class="about-restaurant-wrapper">
                    <h3 class="about-subtitle">restaurant-hotel complex</h3>
                    <div>
                        <p class="about-text">Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest seafood to the most succulent steaks, every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.</p>
                        <p class="about-text">Treat yourself to a taste of the good life and come dine with us today!</p>
                    </div>
                </div>
            </li>
            <li class="about-business-flex">
                <div class="about-third-thumb">
                    <img srcset="../../img/home-about-a-complex/about-a-complex-4_mob@1x.jpg 335w,
                    ../../img/home-about-a-complex/about-a-complex-4_tab@1x.jpg 530w,
                    ../../img/home-about-a-complex/about-a-complex-4_mob@2x.jpg 670w,
                    ../../img/home-about-a-complex/about-a-complex-4_tab@2x.jpg 1060w"
                    sizes="(min-width: 768px) 530px, (min-width: 375px) 335px, 100vh"
                    src="../../img/home-about-a-complex/about-a-complex-4_mob@1x.jpg"
                    alt="client Alexander">
                    <div class="rating-box-second">
                        <img srcset="../../img/home-about-a-complex/about-a-complex-5_mob@1x.png 1x,
                        ../../img/home-about-a-complex/about-a-complex-5_mob@2x.png 2x" 
                        src="../../img/home-about-a-complex/about-a-complex-5_mob@1x.png" 
                        alt="client Alexander">
                        <div class="rating-text">
                            <p class="client-name">Alexander</p>
                            <p class="rating-score"><span class="give-rating">give rating</span> 5.5</p>
                        </div>
                    </div>
                </div>
                <div class="about-flex-business">
                    <div class="about-business-text">
                        <h3 class="about-subtitle">business class hotel</h3>
                        <p class="about-text about-business-text">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.</p>
                    </div>
                    <div class="about-fourth-thumb">
                        <img srcset="../../img/home-about-a-complex/about-a-complex-6_tab@1x.jpg 266w,
                        ../../img/home-about-a-complex/about-a-complex-6_mob@1x.jpg 335w,
                        ../../img/home-about-a-complex/about-a-complex-6_tab@2x.jpg 532w,
                        ../../img/home-about-a-complex/about-a-complex-6_mob@2x.jpg 670w"
                        sizes="(min-width: 768px) 266px, (min-width: 375px) 335px, 100vh"
                        src="../../img/home-about-a-complex/about-a-complex-6_mob@1x.jpg"
                        alt="hotel restaurant">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>