<section class="about-resto-section">
  <div class="about-resto-container container">
    <div class="about-resto-textblock">
      <h2 class="about-resto-title">restaurant</h2>
      <p class="about-resto-text">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>
    <ul class="slider">
      <li>
        <img
          srcset="/img/home/about-resto/resto_mob_1x.jpg x1, /img/home/about-resto/resto_mob_2x.jpg.jpg x2"
          src="/img/home/about-resto/resto_mob_1x.jpg"
          alt="Pink coctail"
          width="157"
          height="201"
        />
      </li>
      <li>
        <img
          srcset="/img/home/about-resto/2resto_mob_1x.jpg x1, /img/home/about-resto/2resto_mob_2x.jpg.jpg x2"
          src="/img/home/about-resto/2resto_mob_1x.jpg"
          alt="Cook"
          width="157"
          height="201"
        />
      </li>
    </ul>
    <ul class="about-resto-btn-list list">
      <li>
        <button class="resto-button" type="button">book a table</button>
      </li>
      <li>
        <button class="resto-button" type="button">
          <a class="resto-link link" href="">View the menu</a>
        </button>
      </li>
    </ul>
  </div>
</section>
