<section class="main-hero-section">
  <div class="main-hero-container container">
    <h1 class="main-hero-title">Mimino</h1>
    <div class="main-hero-wrap">
      <ul class="main-hero-list">
        <li>
          <button
            class="main-hero-btn js-open-modal"
            type="button"
            data-modal="2"
          >
            book a room
          </button>
        </li>
        <li>
          <button
            class="main-hero-btn js-open-modal"
            data-modal="1"
            type="button"
          >
            book a table
          </button>
        </li>
      </ul>
      <div class="main-hero-holder">
        <p class="main-hero-txt">
          Whether you're in the mood for a hearty breakfast, a light lunch, or
          a, our menu has something for everyone.
        </p>
        <p class="main-hero-txt">
          At Hotel Mimino,we believe that great food should be available to
          everyone, no matter the time of day.
        </p>
      </div>
    </div>
  </div>
</section>
