<section class="main-hero-sectrion">
  <h1 class="main-hero-title">mimino</h1>
  <ul class="main-button-list">
    <li class="button-list-item">
      <button class="button-secondary js-open-modal" data-modal="2">book a room</button>
    </li>
    <li class="button-list-item">
      <button class="button-secondary js-open-modal" data-modal="1">book a table</button>
    </li>
  </ul>
  <ul class="main-text-list container">
    <li class="main-text-list-item">
      <p class="text">
        Whether you're in the mood for a hearty breakfast, a light lunch,
        <i>or a romantic dinner</i>, our menu has something for everyone.
      </p>
    </li>
    <li class="main-text-list-item">
      <p class="text">
        At Hotel Mimino, we believe that great food should be available to
        everyone, no matter the time of day.
      </p>
    </li>
  </ul>
  <div class="main-overlay"></div>
</section>
