<section class="location-section section">
  <div class="container location-and-contacts-container">
    <h1 class="location-title">LOCATION</h1>
    <iframe
      class="maps"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2585.919844051083!2d34.525995!3d49.599261!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2sMimino%20Restaurant%20and%20Hotel%20Complex!5e0!3m2!1sen!2sua!4v1677658259583!5m2!1sen!2sua"
      style="border: none"
      allowfullscreen=""
    ></iframe>

    <div class="location-thumb">
      <address class="location-adress">
        <a
          class="adress-link"
          href="https://goo.gl/maps/aVpL6deSiZVYysMP9"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >UKRAINE, POLTAVA,
          <br />
          ST. MARSHAL BIRYUZOV, 15</a
        >
      </address>
      <div class="location-and-contacts-nav">
        <h2 class="location-and-contacts-text">CALL US:</h2>
        <ul>
          <li>
            <a href="tel:+380955559533" class="contacts-location"
              >(095) 555 95 33</a
            >
          </li>
          <li>
            <a href="tel:+380668491089" class="contacts-location"
              >(066) 849 10 89</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
