<section class="section-main-page-welcome section">
  <div class="container-main-page-welcome container">
    <div class="welcome">
      <div class="title-main-page-welcome">
        <h2 class="title-main-page-welcome">
          Welcome to the epitome of
          <span class="title-main-page-welcome-ital">luxury</span> and
          <span class="title-main-page-welcome-ital">comfort</span>
        </h2>
      </div>
      <div class="descr-main-page-welcome">
        <div class="descr-hotel-main-page-welcome">
          <p class="text-main-page-welcome hotel">
            Our hotel rooms are elegantly designed with an eye for detail,
            ensuring that you have everything you need for a relaxing and
            rejuvenating stay.
          </p>
        </div>
        <div class="descr-room-main-page-welcome">
          <p class="text-main-page-welcome room">
            Each room is equipped with the latest amenities, including plush
            bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to
            help you start your day right. Our spacious bathrooms feature
            luxurious toiletries and towels, so you can pamper yourself in
            complete privacy.
          </p>
        </div>
      </div>
    </div>

    <div class="image-main-page-welcome">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/img-main-page-welcome_desctop@1x.jpg 1x,
            ./img/img-main-page-welcome_desctop@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/img-main-page-welcome_tablet@1x.jpg 1x,
            ./img/img-main-page-welcome_tablet@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/img-main-page-welcome-mobile@1x.jpg 1x,
            ./img/img-main-page-welcome-mobile@2x.jpg 2x
          "
        />
        <img
          src="./img/img-main-page-welcome-mobile@1x.jpg"
          alt="hotel lobby"
        />
      </picture>
    </div>
  </div>
</section>
